:root{
    --bg-color-gray: #f8f9fa;
    --bg-color-white: #ffffff;
    --bg-color-lightGreen: #f5faff;
    --bg-color-lightPink: #fffce8;
    --bg-color-veryLightPink: #fdf8f6;
}


*{
   
    padding: 0px;
    margin: 0px;
}


#full{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
nav{
    display: flex;
    /* background-color: pink; */
    height: 6vh;
    width: 98%;
    justify-content: space-between;
    padding: 1%;
    position: fixed;
    top: 0px;
}

nav #menu{
    width: 2.5%;
    border-radius: 8px;
    height: 87%;
    border: none;
    background-color: #ececf4;
    align-items: center;
}

nav #menu:active{
    border: 2px solid blue;
}

nav #menu:hover{
    background-color: #f1f0ff;
}

i{
    background: transparent;
}

nav #tools{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px solid #f8f9fa;
    width: 37%;
    height: 80%;
    border-radius: 8px;
    padding: 0.3%;
    box-shadow: 1px 1px 10px 1px rgb(235, 235, 235);
}

nav #tools .line-in-icons{
    border-left: 3px solid #f1f0ff;
    height: 70%;
    margin: 0px 2px 0px 2px;
 }

nav #tools .tools-icon{
    border: none;
    height: 100%;
    width: 7%;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #tools .tools-icon:active{
    border: 1px solid blue;
}

nav #tools .tools-icon i{
    background: transparent;
}

nav #tools .tools-icon p{
    background: transparent;
    font-size: 0.6rem;
    margin: 15px 0px 0px 3px;
    color: rgb(199, 199, 199);
}

nav #tools .tools-icon:hover{
    background-color: #f1f0ff;
}

nav #nav-right{
    width: 9%;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

nav #nav-right #live-col{
    width: 28%;
    height: 90%;
    border: none;
    border-radius: 8px;
    background-color: #6965db;
    color: white;
    cursor: pointer;
}

nav #nav-right #live-col:hover{
    background-color: #4b46d6;
}

nav #nav-right #library{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: gray;
    height: 90%;
    background-color: #ececf4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

nav #nav-right #library:hover{
    background-color: #f1f1f6;
}

nav #nav-right #library i{
    color: black;
}

nav #tools .active-icons{
    background-color: #E0DFFF;
    border-radius: 5px;
}

/* ////////////////////////////////////////// nav is ended here ///////////////////////////////////////////*/


#canvas{
    /* border: 1px solid red; */
    background-color: var(--bg-color-gray);;
}


/* /////////////////////////////////////// menu-click is started here ////////////////////////////////////////// */
#menu-click.active-menu{
    display: block;
}


#menu-click{
    background-color: white;
    width: 15vw;
    height: 71vh;
    /* display: block; */
    display: none;
    position: fixed;
    top: 8%;
    left: 18px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(235, 235, 235);
}

#menu-click i{
    font-size: 0.8rem;
    padding: 0px 7px 0px 0px ;
}

#menu-click .line{
    border-bottom: 2px solid rgb(233, 233, 233);
    margin: 5px 0px 5px 0px;
}

#menu-click #left{
    font-size: 0.9rem;
}

#menu-click .right{
    font-size: 0.9rem;
    color: rgb(178, 177, 177);
}

#menu-click .pink{
    color: #ef5aa8;
}

#menu-click .box{
    width: 93%;
    padding: 3.5%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
}

#menu-click .box:hover{
    background-color: #ececf4;
}

#menu-click #select{
    width: 100%;
    border: 1px solid rgb(178, 177, 177);
    padding: 3%;
    margin-top: 10px;
    cursor: pointer;
}

#menu-click #canvas p{
    font-size: 0.8rem;
    padding: 10px 0px 10px 0px;
}

#menu-click #canvas #bg-colors{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-click #canvas #bg-colors #bg-selector{
    height: 5vh;
    width: 2.5vw;
    cursor: pointer;
}

#menu-click #canvas #bg-colors .bg-color{
    height: 3.5vh;
    width: 1.6vw;
    padding: 0.5%;
}

#menu-click #canvas #bg-colors .bg-color:hover{
    border: 1px solid rgb(220, 220, 220);
}

#menu-click #canvas #bg-colors .bg-color .inner{
    height: 100%;
    background-color: var(--bg-color-gray);
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
}

#menu-click #canvas #bg-colors .bg-color-white .inner{
    background-color: var(--bg-color-white);
}

#menu-click #canvas #bg-colors .bg-color-gray .inner{
    background-color: var(--bg-color-gray);
}

#menu-click #canvas #bg-colors .bg-color-lightGreen .inner{
    background-color: var(--bg-color-lightGreen);
}

#menu-click #canvas #bg-colors .bg-color-lightPink .inner{
    background-color: var(--bg-color-lightPink);
}

#menu-click #canvas #bg-colors .bg-color-verLightPink .inner{
    background-color: var(--bg-color-veryLightPink);
}



/*/////////////////////////////////////////// menu-click is ended here //////////////////////////////////*/

.drawingPencil{
    background-color: white;
    width: 15vw;
    height: 30vh;
    /* display: block; */
    display: none;
    position: fixed;
    top: 8%;
    left: 18px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px rgb(235, 235, 235);
}

.drawingPencil.activePencil{
    display: block;
}

.drawingPencil #stroke{
    display: flex;
    padding: 5px;
    gap: 10px;
    flex-direction: column;
}

.drawingPencil #strokeWidth{
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.drawingPencil p{
    color: #444444;
    font-size: 0.8rem;

}

.drawingPencil #chooseColors{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.drawingPencil #chooseColors .pencilColor{
    height: 3.5vh;
    width: 1.6vw;
    padding: 0.5%;
    border-radius: 3px;
    margin: 3px;
}

.drawingPencil #chooseColors .pencilColor:hover{
    border: 1px solid rgb(220, 220, 220);
}

.drawingPencil #chooseColors .pencilColor .inner{
    height: 100%;
    background-color: black;
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
    border-radius: 3px;
}

.drawingPencil #chooseColors .pencilColor:active{
    border: 1px solid blue;
}

.drawingPencil #chooseColors .penColors-red .inner{
    background-color: red;
}

.drawingPencil #chooseColors .penColors-green .inner{
    background-color: green;
}

.drawingPencil #chooseColors .penColors-blue .inner{
    background-color: blue;
}

.drawingPencil #chooseColors .penColors-orange .inner{
    background-color: orange;
}

.drawingPencil #strokeWidth #buttons{
    display: flex;
    gap: 10px;
}

.drawingPencil #strokeWidth #buttons #strokeLine-s{
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawingPencil #strokeWidth #buttons #strokeLine-m{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawingPencil #strokeWidth #buttons #strokeLine-l{
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawingPencil #strokeWidth #buttons .strokeLines{
    height: 3.5vh;
    width: 1.6vw;
    padding: 0.5%;
    border-radius: 3px;
    border: none;
}

.drawingPencil #strokeWidth #buttons .strokeLines:active{
    border: 1px solid blue;
}

.drawingPencil #opacity{
    display: flex;
    padding: 5px;
    gap: 5px;
    flex-direction: column;
}





/* ////////////////////////////////////////// drawing pencil is ended here ////////////////////////////// */

footer{
    position: fixed;
    bottom: 0px;
    background: transparent;
    height: 5vh;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

footer #left{
    width: 15%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: transparent;
}

footer #left #size-container{
    display: flex;
    background-color: #ececf4;
    width: 59%;
    border-radius: 8px;
    overflow: hidden;
}

footer #left #size-container #per{
    margin: 0px 0px 0px 2px;
}

footer #left #size-container #minus,#plus{
    background-color: #ececf4;
    width: 26%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: rgb(63, 62, 62);
    cursor: pointer;
}

footer #left #size-container #minus:active,#plus:active{
    border: 1px solid blue;
    border-radius: 8px;
}

footer #left #size-container #minus:hover,#plus:hover,#size:hover{
    background-color: #f3f3f7;
}

footer #left #size-container #size-per{
    background-color: #ececf4;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: rgb(63, 62, 62);
    cursor: pointer;
}

footer #left #size-container #size-per:hover{
    background-color: #f3f3f7;
}


footer #left #undo-redo{
    display: flex;
    background-color: #ececf4;
    width: 35%;
    border-radius: 8px;
    overflow: hidden;
}

footer #left #undo-redo #undo,#redo{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececf4;
    width: 50%;
    cursor: pointer;
}

footer #left #undo-redo #undo:active,#redo:active{
    border: 1px solid blue;
    border-radius: 8px;

}

footer #left #undo-redo #undo:hover,#redo:hover{
    background-color: #f3f3f7;
}

footer #left #undo-redo #undo img{
    width: 45%;
    height: 35%;
    background: transparent;
}

footer #left #undo-redo #redo img{
    width: 40%;
    height: 35%;
    background: transparent;
}

footer #right{
    width: 5%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    background: transparent;
}

footer #right #footer-img{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

footer #right #footer-img i{
   font-size: 1.3rem;
   cursor: pointer;
}

footer #right #help{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ececf4;
    border-radius: 8px;
    cursor: pointer;
}

footer #right #help:active{
    border: 1px solid blue;
    border-radius: 8px;
}

footer #right #help i{
    font-size: 0.8rem;
}

/*//////////////////////////////////////// footer is ended here ///////////////////////////////////////////*/